* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* main card */

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.current-time,
.current-date {
  font-size: 1.2rem;
}

.search {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-grow: 1;
  margin-right: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  height: 1.5rem;
  width: 1.5rem;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-weather {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  width: 100%;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

#current-icon {
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
}

/* future forcast */
.future-forecast {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.242);
  padding: 15px;
  min-width: 120px;
}

.forecast-icon {
  height: 5rem;
  width: 5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }
  .weather-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .current-time,
  .current-date {
    font-size: 1rem;
  }
  .search-bar {
    margin-right: 5px;
  }
  button svg {
    height: 1.25rem;
    width: 1.25rem;
  }
  .weather-forecast-item {
    min-width: 100px;
  }
}