* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(210, 238, 255, 0.512);
  background: radial-gradient(
    circle,
    rgba(210, 238, 255, 0.534) 0%,
    rgba(0, 80, 177, 0.553) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px #000000c6;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* main card */

.card {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.605) 0%,
    rgba(0, 35, 74, 0.596) 100%
  );
  font-family: "Nunito Sans", sans-serif;
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  max-width: 400px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.current-time,
.current-date {
  font-size: 1.2rem;
}

.search {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-grow: 1;
  margin-right: 10px;
}

button {
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button svg {
  height: 1.5rem;
  width: 1.8rem;
}

#location,
h2 {
  font-size: 2rem;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px;
  /* border: turquoise solid; */
}

.current-weather {
  display: flex;
  flex-wrap: none;
  justify-content: center;
  width: 100%;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 5mm;
}

#current-icon {
  height: 8rem;
  width: 8rem;
  margin-left: 10px;
  /* border: turquoise solid; */
}

/* future forcast */
.future-forecast {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.weather-forecast-item {
  font-family: "Cambay", sans-serif;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.605) 0%,
    rgba(0, 35, 74, 0.596) 100%
  );
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  padding: 15px;
  min-width: 120px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.forecast-icon {
  height: 5rem;
  width: 5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }
  .weather-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .current-time,
  .current-date {
    font-size: 1rem;
  }
  .search-bar {
    margin-right: 5px;
  }
  button svg {
    height: 1.25rem;
    width: 1.25rem;
  }
  .weather-forecast-item {
    min-width: 100px;
  }
}
